<div class="container contact">
	
	<h3>Leave us a messsage.</h3>
	<p class="c-message">We'll be sure to get back to you as soon as possible.</p>
	
	<%= flash[:notice] %>
	<%= form_tag ("/static_pages/thank_you") do %>
		<div class="row">
			<div>		
				<div class="form-group">
			    <%= label_tag :name, "Name" %><br>
			    <%= text_field_tag :name, nil, class: "form-control", placeholder: "Name" %>
			  </div>
				
				<div class="form-group">
			    <%= label_tag :email, "Email" %><br>
			    <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
			  </div>

			  <div class="form-group">
			    <%= label_tag :message, "Message" %><br>
			    <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message"  %>
			  </div>

			  <div class="actions">
			  	<%= submit_tag "Send" %>
			  </div>
			</div>
		</div>
 <% end %>

</div>
