<p id="notice"><%= notice %></p>



<div class="container product">
  <div class="row">
    <div class="text-ctr">
			<h3>Your Order Details:</h3>
			<br>
			<p>
			  <strong>Name:</strong>
			  <%= @user_id %>
			</p>

			<p>
			  <strong>Description:</strong>
			  <%= @product_id %>
			</p>
			
			<p>
			 <strong>Price:</strong>
			  <%= (@order.total/100) %>
			</p>

			</div>
		</div>

			<%= link_to 'Back', orders_path %>
		
</div>